<section class="category" id="{{name}}" data-type="category" data-name="{{name}}" data-icon="{{icon}}" data-container="categories">
    <h2><i class="{{icon}}"></i> {{name}}</h2>
    <div class="sites-grid" data-container="sites">
        {{#if sites.length}}
            {{#each sites}}
                {{> site-card}}
            {{/each}}
        {{else}}
            <p class="empty-sites">暂无网站</p>
        {{/if}}
    </div>
</section>