<section class="category" id="{{name}}" data-menav-id="category-{{@index}}" data-menav-type="category">
    <h2><i class="{{icon}}"></i> {{name}}</h2>
    <div class="sites-grid" data-menav-category="{{name}}">
        {{#if sites.length}}
            {{#each sites}}
                {{> site-card}}
            {{/each}}
        {{else}}
            <p class="empty-sites">暂无网站</p>
        {{/if}}
    </div>
</section>